* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
  }
  :root{
    --bg-color: rgb(130, 155, 164);
    --text-color: white;
  }

  html {
    font-size: 60%;
    overflow-x: hidden;
  }
  
  body {
    background: rgb(148, 170, 176);
    color: white;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 4rem 12%;
    backdrop-filter: blur(100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
  }
  
  .logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .logo:hover {
    transform: scale(1.1);
  }
  
  .navbar a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
  }
  
  .navbar a:hover,
  .navbar a.active {
    color: white;
    border-bottom: 1px solid white;
  }
  
  .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    overflow: hidden;
  }
  
  .slideshow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:scale-down;
    z-index: -1;
  }
  
  .slideshow::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: slide 18s infinite;
    filter: brightness(70%) blur(5px);
  }
  
  /* Corrected animation */
  @keyframes slide {
    0% {
        background-image: url('images/image4.JPG');
    }
    28.57% {
        background-image: url('images/image4.JPG');
    }
    28.58% {
        background-image: url('images/image2.JPG');
    }
    57.14% {
        background-image: url('images/image2.JPG');
    }
    57.15% {
        background-image: url('images/image7.JPG');
    }
    85.71% {
        background-image: url('images/image7.JPG');
    }
    85.72% {
        background-image: url('images/image4.JPG'); /* Loop back to the first image */
    }
    100% {
        background-image: url('images/image4.JPG');
    }
}
  
  .hero-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
  }


  .hero-inner h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
    text-align: center;

  }


  .hero-inner h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
  }

  .hero-inner p {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8;
    max-width: 1000px;
  }
  